NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=project-y-d04dc.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=project-y-d04dc
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=project-y-d04dc.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
